*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    text-align: center;
}
embed{
    width: 50%;
    margin: 0 auto;
}
#fish {
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
}