
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #f2f2f2;
    width: 375px;
    height: 667px;
    text-align: center;
}
/*面板*/
#panel{
    background-color: white;
    display: inline-block;
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 5px #ccc;
}
/*面板的头部*/
#panel .panel-header{
    font-size: 13px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    width: 300px;
    margin: 0 auto;
}
/*内容*/
#panel .panel-content{
    margin-top: 100px;
}
#panel .panel-content .ipt{
    margin-bottom: 10px;
    position: relative;
    height: 33px;
}
#panel .panel-content label{
    position: absolute;
    top: 6px;
    left: 6px;
}
#panel .panel-content input{
    width: 100%;
    height: 100%;
    border: 1px #ddd solid;
    padding-left: 40px;
    box-sizing: border-box;
    border-radius: 6px;
}
#panel .panel-content .ipt input:focus{
    outline: none;
    border: 1px orangered solid;
    box-shadow: 0 0 2px orangered;
}
#panel .panel-content .forget{
    margin-top: 10px;
    height: 25px;
    position: relative;
}
#panel .panel-content .forget a{
    font-size: 13px;
    text-decoration: none;
    color: gray;
}
#panel .panel-content .forget input{
    width: 20px;
    float: left;
    border: none;
}
#panel .panel-content .forget a.pwdright{
    float: right;
    line-height: 25px;
}
#panel .panel-content .forget a.pwdleft{
    position: absolute;
    left: 20px;
    line-height: 25px;
}
#panel .panel-content .login button{
    width: 100%;
    border: none;
    height: 33px;
    font-size: 18px;
    margin-top: 10px;
    background-color: orangered;
    border-radius: 6px;
    color: white;
}
#panel .panel-content .login button:focus{
    outline: none;
}
#panel .panel-content .reg{
    text-align: center;
    margin-top: 10px;
    color: #666;
}
#panel .panel-content .reg a{
    color: orangered;
    font-size: 14px;
    text-decoration: none;
}
#panel .panel-footer
{
    margin-top: 150px;
    height: 50px;
    /*background-color: red;*/
    line-height: 50px;
}
#panel .panel-footer img {
    width: 30px;
    vertical-align: text-bottom;
}
#panel .panel-footer span {

}